<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="VeloxEditor"
   name="VeloxEditor Plug-in"
   version="0.1"
   provider-name="Sechsta Sinn"
   class="de.velox.editor.VeloxEditorPlugin">

   <runtime>
      <library name="VeloxEditor.jar">
         <export name="*"/>
      </library>
      <library name="SourceV3d/">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Velox Editor"
            id="VeloxEditor">
      </category>
      <view
            name="Properties"
            icon="icons/sample.gif"
            category="VeloxEditor"
            class="de.velox.editor.views.PropertiesView"
            id="de.velox.views.editor.PropertiesView">
      </view>
      <view
            category="VeloxEditor"
            class="de.velox.editor.views.RenderView"
            icon="icons/sample.gif"
            id="veloxEditor.views.editor.RenderView"
            name="Rendering"/>
      <view
            category="VeloxEditor"
            class="de.velox.editor.views.ResourceView"
            icon="icons/sample.gif"
            id="de.velox.editor.views.ResourceView"
            name="Resources"/>
      <view
            category="VeloxEditor"
            class="de.velox.editor.views.SceneView"
            icon="icons/sample.gif"
            id="de.velox.editor.views.SceneView"
            name="Scene"/>
      <view
            category="VeloxEditor"
            class="de.velox.editor.views.VFSView"
            icon="icons/sample.gif"
            id="de.velox.editor.views.VFSView"
            name="VFS"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="VeloxEditor"
            name="Velox Wizards"/>
      <wizard
            category="VeloxEditor"
            class="de.velox.editor.wizards.NewSceneWizard"
            icon="icons/sample.gif"
            id="de.velox.editor.wizards.NewSceneWizard"
            name="New scene"/>
      <wizard
            category="VeloxEditor"
            class="de.velox.editor.materials.GLSLMaterialWizard"
            icon="icons/sample.gif"
            id="de.velox.editor.materials.GLSLMaterialWizard"
            name="GLSL Material Wizard"/>
      <wizard
            category="VeloxEditor"
            class="de.velox.editor.materials.GLSLVertexProgramWizard"
            icon="icons/sample.gif"
            id="de.velox.editor.materials.GLSLVertexProgramWizard"
            name="GLSL Vertex Program"/>
      <wizard
            category="VeloxEditor"
            class="de.velox.editor.materials.GLSLFragmentProgramWizard"
            icon="icons/sample.gif"
            id="de.velox.editor.materials.GLSLFragmentProgramWizard"
            name="GLSL Fragment Program"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.velox.editors.SceneEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="v3dscene"
            icon="icons/sample.gif"
            id="de.velox.editors.SceneEditor"
            name="Scene Editor"/>
      <editor
            class="de.velox.editor.cgfx.CGFXEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="fx"
            icon="icons/sample.gif"
            id="de.velox.editor.cgfx.CGFXEditor"
            name="CGFX Editor"/>
      <editor
            class="de.velox.editor.materials.MaterialEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="v3dmat"
            icon="icons/sample.gif"
            id="de.velox.editor.materials.MaterialEditor"
            name="Material Editor"/>
      <editor
            class="de.velox.editor.materials.GLSLEditor"
            extensions="vert,frag"
            icon="icons/sample.gif"
            id="de.velox.editor.materials.GLSLEditor"
            name="GLSL Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Velox Commands"
            id="de.velox.editor.commands"
            name="Velox"/>
      <command
            categoryId="de.velox.editor.commands"
            defaultHandler="de.velox.editor.scene.RunSceneAction"
            description="Runs the scene in the active editor"
            id="de.velox.editor.commands.runscene"
            name="Run Scene"/>
      <command
            categoryId="de.velox.editor.commands"
            defaultHandler="de.velox.editor.scene.ActivateInputAction"
            description="Toggles routing of mouse+keyboard to Velox"
            id="de.velox.editor.commands.activateinput"
            name="Activate Input"/>
      <command
            categoryId="de.velox.editor.commands"
            defaultHandler="de.velox.editor.scene.RestoreSceneAction"
            description="Reset the scene to the state it had before the last &quot;Run scene&quot; command"
            id="de.velox.editor.commands.restorescene"
            name="Restore scene"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="de.velox.editor.editorContribution"
            targetID="de.velox.editors.SceneEditor">
         <action
               class="de.velox.editor.scene.RunSceneAction"
               definitionId="de.velox.editor.commands.runscene"
               id="de.velox.editor.editoractions.runscene"
               label="Play"
               menubarPath="window/additions"
               toolbarPath="/Normal/V3d"
               tooltip="Play the scene. You can restore it afterwards using &quot;Restore&quot;"/>
         <action
               class="de.velox.editor.scene.RestoreSceneAction"
               definitionId="de.velox.editor.commands.restorescene"
               id="de.velox.editor.editoractions.restorescene"
               label="Restore"
               menubarPath="window/additions"
               toolbarPath="/Normal/V3d"
               tooltip="Restore the scene to the state it had before Play" />
         <action
               class="de.velox.editor.scene.ActivateInputAction"
               definitionId="de.velox.editor.commands.activateinput"
               helpContextId="Enables routing of keyboard and mouse input to the engine. Disable by hitting Escape"
               id="de.velox.editor.editoractions.activateinput"
               label="Enable input"
               menubarPath="window/additions"
               toolbarPath="/Normal/V3d"
               tooltip="Enables routing of keyboard and mouse input to the engine. Disable by hitting Escape"/>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.velox.editor.commands.activateinput"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8"/>
      <key
            commandId="de.velox.editor.commands.runscene"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F6"/>
      <key
            commandId="de.velox.editor.commands.restorescene"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+F6"/>
   </extension>

</plugin>
